<!doctype html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <!--<meta name="viewport" content="width=750, initial-scale=0">-->
    <meta name="viewport" content="width=device-100%, initial-scale=1"/>
    <meta name="renderer" content="webkit">
    <title>2019江苏巾帼创业创新大赛_新华网江苏频道</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
<!--内容开始-->
<div class="title">组织架构</div>
<div class="box">
    &emsp;&emsp;<div class="group-title">主办单位</div><br>
    &emsp;&emsp;省人才办

    &emsp;&emsp;省教育厅<br>

    &emsp;&emsp;省科技厅

    &emsp;&emsp;省工业和信息化厅<br>

    &emsp;&emsp;省人力资源社会保障厅<br>

    &emsp;&emsp;省农业农村厅

    &emsp;&emsp;省妇联<br>

    &emsp;&emsp;<div class="group-title">承办单位</div><br>
    &emsp;&emsp;江苏省女企业家协会<br>
    &emsp;&emsp;<div class="group-title">支持机构</div><br>
    &emsp;&emsp;江苏省高新技术创业服务中心<br>
    &emsp;&emsp;江苏省技术产权交易市场

    <br>
</div>
<!--内容结束-->
<footer>
    <div class="nav">
        <a class="nav-ball" href="../index.html" style="line-height: 50px"><img class="" src="../img/pink-ball.png">首页</a>
        <a class="nav-ball" href="preface.html" style="line-height: 50px"><img class="" src="../img/black-ball.png">序言</a>
        <a class="nav-ball" href="arrangement.html"><img class="" src="../img/blue-ball.png">赛程<br>安排</a>
        <a class="nav-ball" href="levy.html"><img class="" src="../img/orange-ball.png">项目<br>征集</a>
    </div>
    <div class="nav ball-right">
        <a class="nav-ball" href="set.html"><img class="" src="../img/orange-ball.png">赛程<br>设置</a>
        <a class="nav-ball" href="condition.html"><img class="" src="../img/blue-ball.png">参赛<br>条件</a>
        <a class="nav-ball" href="reward.html"><img class="" src="../img/black-ball.png">奖励<br>办法</a>
        <a class="nav-ball" href="http://www.js.xinhuanet.com/jsstatics/zhuanti/bucket/1905jgcycx/form.docx"><img class="" src="../img/pink-ball.png">下载<br>报名表</a>
    </div>
    <div class="contact">
        <p style="display: inline-block">联系人：张洪侠&emsp;E-mail：sflfzb@163.com<br>联系电话（传真）：025-85235931</p>
    </div>
    <div class="copyright">
        <p>Copyright © 2001-2019 js.xinhuanet.comAll Rights Reserved.</p>
        <p style="margin-top: 0;">制作单位：新华网江苏频道<br>电话：(025)85533313 &emsp; 传真：(025)85602215</p>
    </div>
</footer>
</body>
</html>
