<!doctype html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <!--<meta name="viewport" content="width=750, initial-scale=0">-->
    <meta name="viewport" content="width=device-100%, initial-scale=1"/>
    <meta name="renderer" content="webkit">
    <title>2019江苏巾帼创业创新大赛_新华网江苏频道</title>
    <link rel="stylesheet" href="../css/style.css?v=1.1">
</head>
<body>
<div id="container"></div>
<!--内容开始-->
<!--<div class="title">序言</div>-->
<div class="box">&emsp;&emsp;为深入学习贯彻习近平新时代中国特色社会主义思想，落实省委十三届五次全会精神，着力构建现代化经济体系，着力推进发展动能转换，积极搭建女性创业创新人才辈出的平台，切实拓展女性创业新空间、激发巾帼建功新优势、实现妇女发展新飞跃，引领全省广大妇女在决胜全面建成小康社会，推动江苏高质量发展中建新功，省人才办、省教育厅、省科技厅、省工业和信息化厅、省人力资源社会保障厅、省农业农村厅、省妇联决定联合举办“慧创她时代”——
    2019江苏巾帼创业创新大赛。
<!--</div>-->
<!--内容结束-->

<script src="../js/collision.js?v=1.11" type="text/javascript" charset="utf-8"></script>
<script src="../js/start.js?v=1.11" type="text/javascript" charset="utf-8"></script>
</body>
</html>
