<!doctype html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <!--<meta name="viewport" content="width=750, initial-scale=0">-->
    <meta name="viewport" content="width=device-100%, initial-scale=1"/>
    <meta name="renderer" content="webkit">
    <title>2019江苏巾帼创业创新大赛_新华网江苏频道</title>
    <link href="https://cdn.bootcss.com/Swiper/4.5.0/css/swiper.css" rel="stylesheet">
    <link rel="stylesheet" href="../css/style.css?v=1.12">
</head>
<body class="new-body">
<img class="img-title" src="../img/tiaojian.png" alt="">
<div class="nav">
    <a href="preface.html"><img class="nav-one preface" src="../img/bisai.png" /></a>
    <a href="arrange.html"><img class="nav-two arrange" src="../img/anpai.png" /></a>
    <a href="reward.html"><img class="nav-three reward" src="../img/jiangli.png" /></a>
</div>
<!--内容开始-->
<div class="swiper-button-next"></div>
<div class="swiper-button-prev"></div>

<div class="text-box">
    <div class="swiper-container">
        <div class="swiper-wrapper">

            <div class="swiper-slide">
                </br></br>
                <div class="subtitle-out"><span class="sub-title">参赛条件</span></div>
                </br></br>
                <p class="contentText" id="condition">&emsp;&emsp;所有参赛者（或团队主要负责人）须为年满18周岁的女性，以个人或团队名义参赛均可。
                </p>


                <!--<div class="unfoldButton" id="prefaceBt" onclick="unfoldPreface()">-->
                <!--<img src="../img/open_pointer.png"/><span >点击获取完整内容</span>-->
                <!--</div>-->

            </div>
            <div class="swiper-slide">


                <div class="subtitle-out"><span class="sub-title">创业类</span></div>
                <p >
                    &emsp;&emsp;项目要求：</br>
                    &emsp;&emsp;（1）项目创办的经济实体在省内工商、民政等职能部门登记注册时间满一年以上，符合国家中小微企业和个体工商户划分标准；</br>
                    &emsp;&emsp;（2）项目具有较高的科技含量，依托互联网、物联网、云计算、大数据等新一代信息技术，体现新业态、新技术、新产品、新模式的发展趋势，符合国家和省市产业发展规划和经济转型升级要求；</br>
                    &emsp;&emsp;（3）项目具有较强的商业价值和良好的市场前景；</br>
                    &emsp;&emsp;（4）项目对女性群体创业具有引领性，能够发挥创业带动就业的倍增效应；</br>
                    &emsp;&emsp;（5）项目依法依规运营，无知识产权纠纷，无工商不良记录。</br>
                    &emsp;&emsp;团队（个人）要求：</br>
                    &emsp;&emsp;（1）创业事迹突出，体现当代女性自强不息、勇于创业的时代精神，凭借自身的专业技术和能力成功创办企业等经济实体；</br>
                    &emsp;&emsp;（2）创业效果良好，在所在行业内有良好的口碑，创办的经济实体守法经营，发展前景广阔；</br>
                    &emsp;&emsp;（3）示范效应明显，积极履行社会责任，带动创业就业效果显著，得到政府、社会和群众公认。
                </p>

                <!--<div class="unfoldButton" id="prefaceBt" onclick="unfoldPreface()">-->
                <!--<img src="../img/open_pointer.png"/><span >点击获取完整内容</span>-->
                <!--</div>-->

            </div>

            <div class="swiper-slide">

                <div class="contentText" >
                    <div class="subtitle-out"><span class="sub-title">创意类</span></div>
                    <p>
                        &emsp;&emsp;项目要求：</br>
                        &emsp;&emsp;（1）创意项目为创意公司团队或个人参赛的创业项目，项目所有人（团队）尚未领取营业执照或领取营业执照未满一年（截至2019年6月30日）；</br>
                        &emsp;&emsp;（2）创意产品一般是以文化、创意理念为核心，突出商业模式、主题概念和产品策划与设计的创新；</br>
                        &emsp;&emsp;（3）项目类型可分文化艺术、创意设计、传媒产业和软件计算机服务等；</br>
                        &emsp;&emsp;（4）项目具有较强的商业价值和良好的市场前景；</br>
                        &emsp;&emsp;（5）项目对女性群体创业具有引领性，能够发挥创业带动就业的倍增效应；</br>
                        &emsp;&emsp;（6）项目无知识产权纠纷，无工商不良记录。</br>
                        &emsp;&emsp;团队（个人）要求同创业类。


                    </p>
                </div>

                <!--<div class="unfoldButton" id="organizationeBt" onclick="unfoldOrganization()">-->
                <!--<img src="../img/open_pointer.png"/><span >点击获取完整内容</span>-->
                <!--</div>-->

            </div>

        </div>
        <!-- Add Arrows -->
    </div>
    <!--5.28 添加了一个button-->
    <!--<div id="unfoldButton"  onclick="unfold()">-->
    <!--<img src="../img/open_pointer.png"/><span >点击获取完整内容</span>-->
    <!--</div>-->
</div>
<!--<footer class="foot">-->
<!--<img class="sub-book" src="../img/book.png" alt="">-->
<!--</footer>-->
<!--内容结束-->
<script src="https://cdn.bootcss.com/Swiper/4.5.0/js/swiper.min.js"></script>
<script>
    var swiper = new Swiper('.swiper-container', {
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },
    });
    function setRem(){
        var width = document.body.offsetWidth; //获取当前页面的宽度
        if(width>768){
            width=768;
        }
        var nowFont=width/320*16; //设置页面的字体大小
        var htmlFont=document.getElementsByTagName('html')[0]; //通过标签名称来获取元素
        htmlFont.style.fontSize =nowFont+"px"; // 给获取到的元素的字体大小赋值
    }
    setRem(); //运行脚本setRem
    window.onresize=setRem;  //监听屏幕变化

    // <!--5.28 添加了一个unfold()-->
    // function unfoldPreface() {
    //     document.getElementById("preface").innerHTML="&emsp;&emsp;为深入学习贯彻习近平新时代中国特色社会主义思想，" +
    //         "落实省委十三届五次全会精神，着力构建现代化经济体系，着力推进发展动能转换，积极搭建女性创业创新人才辈出的平台，" +
    //         "切实拓展女性创业新空间、激发 巾帼建功新优势、实现妇女发展新飞跃，引领全省广大妇女在决胜全面建成小康社会，" +
    //         "推动江苏高质量发展中建新功，省人才办、省教育厅、省科技厅、省工业和信息化厅、省人力资源社会保障厅、省农业农村厅、" +
    //         "省妇联决定联合举办“慧创她时代”—— 2019江苏巾帼创业创新大赛。";
    //     document.getElementById("prefaceBt").style.display="none";
    // }
    // var z = document.getElementsByClassName('grid-hide');
    // function unfoldOrganization() {
    //     document.getElementById("organization").style.gridTemplateRows="1.5rem 1.5rem 1.5rem 1.5rem 1.5rem 1.5rem 1.5rem";
    //
    //
    //     for (var i = 0; i < z.length; i++) {
    //         z[i].style.display = "block";
    //     }
    //     document.getElementById("organizationeBt").style.display="none";
    // }






</script>
</body>
</html>
