<!doctype html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <!--<meta name="viewport" content="width=750, initial-scale=0">-->
    <meta name="viewport" content="width=device-100%, initial-scale=1"/>
    <meta name="renderer" content="webkit">
    <title>2019江苏巾帼创业创新大赛_新华网江苏频道</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
<!--内容开始-->
<div class="title">参赛条件</div>
<div class="box">
    <div>&emsp;&emsp;所有参赛者（或团队主要负责人）须为年满18周岁的女性，以个人或团队名义参赛均可。</div>

    <div class="subtitle">创业类</div>
    <div>&emsp;&emsp;项目要求：<br>

        &emsp;&emsp;（1）项目创办的经济实体在省内工商、民政等职能部门登记注册时间满一年以上，符合国家中小微企业和个体工商户划分标准；<br>

        &emsp;&emsp;（2）项目具有较高的科技含量，依托互联网、物联网、云计算、大数据等新一代信息技术，体现新业态、新技术、新产品、新模式的发展趋势，符合国家和省市产业发展规划和经济转型升级要求；<br>

        &emsp;&emsp; （3）项目具有较强的商业价值和良好的市场前景；<br>

        &emsp;&emsp; （4）项目对女性群体创业具有引领性，能够发挥创业带动就业的倍增效应；<br>

        &emsp;&emsp;  （5）项目依法依规运营，无知识产权纠纷，无工商不良记录。<br>

        &emsp;&emsp;  团队（个人）要求：<br>

        &emsp;&emsp;（1）创业事迹突出，体现当代女性自强不息、勇于创业的时代精神，凭借自身的专业技术和能力成功创办企业等经济实体；<br>

        &emsp;&emsp;  （2）创业效果良好，在所在行业内有良好的口碑，创办的经济实体守法经营，发展前景广阔；<br>

        &emsp;&emsp;  （3）示范效应明显，积极履行社会责任，带动创业就业效果显著，得到政府、社会和群众公认。<br>
    </div>

    <div class="subtitle">创意类</div>
    <div>&emsp;&emsp;项目要求：<br>

        &emsp;&emsp;（1）创意项目为创意公司团队或个人参赛的创业项目，项目所有人（团队）尚未领取营业执照或领取营业执照未满一年（截至2019年6月30日）；<br>

        &emsp;&emsp;（2）创意产品一般是以文化、创意理念为核心，突出商业模式、主题概念和产品策划与设计的创新；<br>

        &emsp;&emsp;（3）项目类型可分文化艺术、创意设计、传媒产业和软件计算机服务等；<br>

        &emsp;&emsp;（4）项目具有较强的商业价值和良好的市场前景；<br>

        &emsp;&emsp;（5）项目对女性群体创业具有引领性，能够发挥创业带动就业的倍增效应；<br>

        &emsp;&emsp; （6）项目无知识产权纠纷，无工商不良记录。<br>

        &emsp;&emsp; 团队（个人）要求同创业类。</div>
</div>
<!--内容结束-->
<footer>
    <div class="nav">
        <a class="nav-ball" href="../index.html" style="line-height: 50px"><img class="" src="../img/pink-ball.png">首页</a>
        <a class="nav-ball" href="preface.html" style="line-height: 50px"><img class="" src="../img/black-ball.png">序言</a>
        <a class="nav-ball" href="arrangement.html"><img class="" src="../img/blue-ball.png">赛程<br>安排</a>
        <a class="nav-ball" href="levy.html"><img class="" src="../img/orange-ball.png">项目<br>征集</a>
    </div>
    <div class="nav ball-right">
        <a class="nav-ball" href="set.html"><img class="" src="../img/orange-ball.png">赛程<br>设置</a>
        <a class="nav-ball" href="reward.html"><img class="" src="../img/blue-ball.png">奖励<br>办法</a>
        <a class="nav-ball" href="http://www.js.xinhuanet.com/jsstatics/zhuanti/bucket/1905jgcycx/form.docx"><img class="" src="../img/black-ball.png">下载<br>报名表</a>
        <a class="nav-ball" href="group.html"><img class="" src="../img/pink-ball.png">组织<br>架构</a>
    </div>
    <div class="contact">
        <p style="display: inline-block">联系人：张洪侠&emsp;E-mail：sflfzb@163.com<br>联系电话（传真）：025-85235931</p>
    </div>
    <div class="copyright">
        <p>Copyright © 2001-2019 js.xinhuanet.comAll Rights Reserved.</p>
        <p style="margin-top: 0;">制作单位：新华网江苏频道<br>电话：(025)85533313 &emsp; 传真：(025)85602215</p>
    </div>
</footer>
</body>
</html>
