
.toggle {
    background-color: #c87f8a;
    text-align: center;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    position: absolute;
    margin: 100% auto auto;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

.fa-plus{
    font-size: 50px;
    color: white;
    display: block;
    margin-top: 15px;
    transition: 0.7s;
}

.menu {
    background-color: white;
    height: 80px;
    width: 80px;
    transform: scale(0);
    border-radius: 50%;
    border-style: double;
    border-color: #c87f8a;
    position: absolute;
    margin: 100% auto auto;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: -1;
    transition: 0.7s;
}

.icons {
    display: inline-block;
    position: absolute;
    color: #BBBBBB;
}
.menu > span> .icon {
    width: 17px;
}

span.icons:nth-child(1){
    top: 4px;
    left: 31px;
}

span.icons:nth-child(2){
    top: 29px;
    left: 56px;
}

span.icons:nth-child(3){
    top: 55px;
    left: 31px;
}

span.icons:nth-child(4){
    top: 29px;
    left: 4px;
}

a:nth-child(5){
    top: 58px;
    left: 10px;
}

a:nth-child(6){
    top: 23px;
    left: 12px;
}

a:hover {
    color: #c87f8a;
}