<!doctype html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <!--<meta name="viewport" content="width=750, initial-scale=0">-->
    <meta name="viewport" content="width=device-100%, initial-scale=1"/>
    <meta name="renderer" content="webkit">
    <title>2019江苏巾帼创业创新大赛_新华网江苏频道</title>
    <link href="https://cdn.bootcss.com/Swiper/4.5.0/css/swiper.css" rel="stylesheet">
    <link rel="stylesheet" href="../css/style.css?v=1.1">
    <style>
        .swiper-slide{

            min-height: 200px;
            max-height: 300px;
        }
        .swiper-slide{
            overflow: hidden;
        }

        .swiper-slide-active{
            overflow: auto !important;
        }
    </style>
</head>
<body class="new-body">
<img class="img-title" src="../img/bisai.png" alt="">
<div class="nav"></div>
<!--内容开始-->
<div class="swiper-button-next"></div>
<div class="swiper-button-prev"></div>
<div style="padding: 20px;">
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="subtitle-out"><span class="sub-title">序言</span></div>
                &emsp;&emsp;为深入学习贯彻习近平新时代中国特色社会主义思想，落实省委十三届五次全会精神，着力构建现代化经济体系，着力推进发展动能转换，积极搭建女性创业创新人才辈出的平台，切实拓展女性创业新空间、激发
                &emsp;&emsp;为深入学习贯彻习近平新时代中国特色社会主义思想，落实省委十三届五次全会精神，着力构建现代化经济体系，着力推进发展动能转换，积极搭建女性创业创新人才辈出的平台，切实拓展女性创业新空间、激发
                &emsp;&emsp;为深入学习贯彻习近平新时代中国特色社会主义思想，落实省委十三届五次全会精神，着力构建现代化经济体系，着力推进发展动能转换，积极搭建女性创业创新人才辈出的平台，切实拓展女性创业新空间、激发
                &emsp;&emsp;为深入学习贯彻习近平新时代中国特色社会主义思想，落实省委十三届五次全会精神，着力构建现代化经济体系，着力推进发展动能转换，积极搭建女性创业创新人才辈出的平台，切实拓展女性创业新空间、激发
                &emsp;&emsp;为深入学习贯彻习近平新时代中国特色社会主义思想，落实省委十三届五次全会精神，着力构建现代化经济体系，着力推进发展动能转换，积极搭建女性创业创新人才辈出的平台，切实拓展女性创业新空间、激发
                &emsp;&emsp;为深入学习贯彻习近平新时代中国特色社会主义思想，落实省委十三届五次全会精神，着力构建现代化经济体系，着力推进发展动能转换，积极搭建女性创业创新人才辈出的平台，切实拓展女性创业新空间、激发
                &emsp;&emsp;为深入学习贯彻习近平新时代中国特色社会主义思想，落实省委十三届五次全会精神，着力构建现代化经济体系，着力推进发展动能转换，积极搭建女性创业创新人才辈出的平台，切实拓展女性创业新空间、激发
            </div>
            <div class="swiper-slide">
                巾帼建功新优势、实现妇女发展新飞跃，引领全省广大妇女全会精神，着力构建现代化经济体系，着力推进发展动能转换，积极搭建女性创业创新人才辈出的平台，切实拓展女性创业新空间、激发
                &emsp;&emsp;为深入学习贯彻习近平新时代中国特色社会主义思想，落实省委十三届五次全会精神，着力构建现代化经济体系，着力推进发展动能转换，积极搭建女性创业创新人才辈出的平台，切实拓展女性创业新空间、激发
                &emsp;&emsp;为深入学习贯彻习近平新时代中国特色社会主义思想，落实省委十三届五次全会精神，着力构建现代化经济体系，着力推进发展动能转换，积极搭建女性创业创新人才辈出的平台，切实拓展女性创业新空间、激发
                &emsp;&emsp;为深入学习贯彻习近平新时代中国特色社会主义思想，落实省委十三届五次全会精神，着力构建现代化经济体系，着力推进发展动能转换，积极搭建女性创业创新人才辈出的平台，切实拓展女性创业新空间、激发
                &emsp;&emsp;为深入学习贯彻习近平新时代中国特色社会主义思想，落实省委十三届五次全会精神，着力构建现代化经济体系，着力推进发展动能转换，积极搭建女性创业创新人才辈出的平台，切实拓展女性创业新空间、激发
                &emsp;&emsp;为深入学习贯彻习近平新时代中国特色社会主义思想，落实省委十三届五次全会精神，着力构建现代化经济体系，着力推进发展动能转换，积极搭建女性创业创新人才辈出的平台，切实拓展女性创业新空间、激发
                &emsp;&emsp;为深入学习贯彻习近平新时代中国特色社会主义思想，落实省委十三届五次全会精神，着力构建现代化经济体系，着力推进发展动能转换，积极搭建女性创业创新人才辈出的平台，切实拓展女性创业新空间、激发
                &emsp;&emsp;为深入学习贯彻习近平新时代中国特色社会主义思想，落实省委十三届五次全会精神，着力构建现代化经济体系，着力推进发展动能转换，积极搭建女性创业创新人才辈出的平台，切实拓展女性创业新空间、激发
                &emsp;&emsp;为深入学习贯彻习近平新时代中国特色社会主义思想，落实省委十三届五次全会精神，着力构建现代化经济体系，着力推进发展动能转换，积极搭建女性创业创新人才辈出的平台，切实拓展女性创业新空间、激发
                &emsp;&emsp;为深入学习贯彻习近平新时代中国特色社会主义思想，落实省委十三届五在决胜全面建成小康社会，推动江苏高质量发展中建新功，省人才办、省教育厅、省科技厅、省工业和信息化厅、省人力资源社会保障厅、省农业农村厅、省妇联决定联合举办“慧创她时代”—— 2019江苏巾帼创业创新大赛。
            </div>
            <div class="swiper-slide">全会精神，着力构建现代化经济体系，着力推进发展动能转换，积极搭建女性创业创新人才辈出的平台，切实拓展女性创业新空间、激发
                &emsp;&emsp;为深入学习贯彻习近平新时代中国特色社会主义思想，落实省委十三届五次全会精神，着力构建现代化经济体系，着力推进发展动能转换，积极搭建女性创业创新人才辈出的平台，切实拓展女性创业新空间、激发
                &emsp;&emsp;为深入学习贯彻习近平新时代中国特色社会主义思想，落实省委十三届五次全会精神，着力构建现代化经济体系，着力推进发展动能转换，积极搭建女性创业创新人才辈出的平台，切实拓展女性创业新空间、激发
                &emsp;&emsp;为深入学习贯彻习近平新时代中国特色社会主义思想，落实省委十三届五次全会精神，着力构建现代化经济体系，着力推进发展动能转换，积极搭建女性创业创新人才辈出的平台，切实拓展女性创业新空间、激发
                &emsp;&emsp;为深入学习贯彻习近平新时代中国特色社会主义思想，落实省十三届五 3</div>
            <div class="swiper-slide">Slide 4</div>
            <div class="swiper-slide">Slide 5</div>
            <div class="swiper-slide">Slide 6</div>
            <div class="swiper-slide">Slide 7</div>
            <div class="swiper-slide">Slide 8</div>
            <div class="swiper-slide">Slide 9</div>
            <div class="swiper-slide">Slide 10</div>
        </div>
        <!-- Add Arrows -->
    </div>
</div>
<footer class="foot">
    <img class="sub-book" src="../img/book.png" alt="">
</footer>
<!--内容结束-->
<script src="https://cdn.bootcss.com/Swiper/4.5.0/js/swiper.min.js"></script>
<script>
    var swiper = new Swiper('.swiper-container', {
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },
    });
    function setRem(){
        var width = document.body.offsetWidth; //获取当前页面的宽度
        if(width>440){
            width=440;
        }
        var nowFont=width/320*16; //设置页面的字体大小
        var htmlFont=document.getElementsByTagName('html')[0]; //通过标签名称来获取元素
        htmlFont.style.fontSize =nowFont+"px"; // 给获取到的元素的字体大小赋值
    }
    setRem(); //运行脚本setRem
    window.onresize=setRem;  //监听屏幕变化
</script>
</body>
</html>
