<!doctype html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <!--<meta name="viewport" content="width=750, initial-scale=0">-->
    <meta name="viewport" content="width=device-100%, initial-scale=1"/>
    <meta name="renderer" content="webkit">
    <title>2019江苏巾帼创业创新大赛_新华网江苏频道</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
<!--内容开始-->
<div class="title">项目征集</div>
<div class="box">&emsp;&emsp;（1）各市推荐：由各市通过主题大赛方式筛选甄别、择优上报，推荐到省参加初赛。每市推荐名额为：创意类2个，创业类3个。<br>
    &emsp;&emsp;（2）自主申报：面向社会征集项目，高校及社会参赛团队（个人）按照同等参赛要求和标准自主报名申报。参赛项目及选手/团队报名，请登陆“Women+”App或新华网江苏频道首页（<a href="http://www.js.xinhuanet.com/">http://www.js.xinhuanet.com/</a>），点击“慧创她时代——2019江苏巾帼创业创新大赛”专题页面，按照提示下载报名表报名。<br>

    &emsp;&emsp;材料要求：<br>

    &emsp;&emsp;（1）《“慧创她时代”——2019江苏巾帼创业创新大赛报名表》；<br>

    &emsp;&emsp;（2）2000字左右详细项目材料；<br>

    &emsp;&emsp;（3）候选人或团队主要负责人身份证件、学历证书、工商营业执照、组织机构代码证、税务登记证或三证合一的营业执照（创业类项目）、获奖证书等相关证明材料复印件及简要创业故事。<br>

    &emsp;&emsp;请各市推荐及自主申报团队（个人）于2019年6月30日前将审核把关过的推荐材料（报名表、事迹材料、各类证件）电子版，以市为单位统一发至省妇联发展部。<br>

    &emsp;&emsp;联系人：张洪侠，联系电话（传真）：025-85235931，E-mail:sflfzb@163.com。<br>

    &emsp;&emsp;附件：<br>

    &emsp;&emsp;1、“慧创她时代”——2019江苏巾帼创业创新大赛报名表<br>

    &emsp;&emsp;2、“慧创她时代”——2019江苏巾帼创业创新大赛报名汇总表</div>
<!--内容结束-->
<footer>
    <div class="nav">
        <a class="nav-ball" href="../index.html" style="line-height: 50px"><img class="" src="../img/pink-ball.png">首页</a>
        <a class="nav-ball" href="preface.html" style="line-height: 50px"><img class="" src="../img/black-ball.png">序言</a>
        <a class="nav-ball" href="arrangement.html"><img class="" src="../img/blue-ball.png">赛程<br>安排</a>
        <a class="nav-ball" href="set.html"><img class="" src="../img/orange-ball.png">赛程<br>设置</a>
    </div>
    <div class="nav ball-right">
        <a class="nav-ball" href="condition.html"><img class="" src="../img/orange-ball.png">参赛<br>条件</a>
        <a class="nav-ball" href="reward.html"><img class="" src="../img/blue-ball.png">奖励<br>办法</a>
        <a class="nav-ball" href="http://www.js.xinhuanet.com/jsstatics/zhuanti/bucket/1905jgcycx/form.docx"><img class="" src="../img/black-ball.png">下载<br>报名表</a>
        <a class="nav-ball" href="group.html"><img class="" src="../img/pink-ball.png">组织<br>架构</a>
    </div>
    <div class="contact">
        <p style="display: inline-block">联系人：张洪侠&emsp;E-mail：sflfzb@163.com<br>联系电话（传真）：025-85235931</p>
    </div>
    <div class="copyright">
        <p>Copyright © 2001-2019 js.xinhuanet.comAll Rights Reserved.</p>
        <p style="margin-top: 0;">制作单位：新华网江苏频道<br>电话：(025)85533313 &emsp; 传真：(025)85602215</p>
    </div>
</footer>
</body>
</html>
